* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
.container {
    display: flex;
    flex-direction: column;
}
.header {
    height: 95px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(18, 154, 199);
    box-shadow:rgb(18, 154, 199);
}
ul {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.title {
    margin-left: 40px;
    color: white;
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
li {
    text-decoration: none;
    color: white;
    list-style: none;
    margin-left: 120px;
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 420px;
    width: 100%;
    background-color: rgb(16, 128, 165);
}
.hero-text {
    margin-left: 40px;
}

 h1 {
    font-size: 42px;
    font-weight: bold;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
p {
    font-size: 23px;
    margin-top: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box {
    margin-top: 50px;
    height: 190px;
    width: 350px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 20px;
    justify-content:space-evenly;
    background-color:rgb(18, 154, 199) ;
    opacity: 1;
}
h2 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media (max-width:870px) {
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        height: auto;
        transition: 1s;
    }
    .hero-text {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 1.5s;
    }
}

